{% extends "layout.html" %}
{% block title %} Homepage {% endblock %}

{% block head %}
  <script type="text/javascript" src="{{ url_for('static', filename='libs/tabulator/js/tabulator.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='libs/tabulator/css/tabulator_modern.css') }}">
  
  <script>
    //define some sample data
     var tabledata = {{ friends|tojson }};
      //create Tabulator on DOM element with id "example-table"
    window.onload = function(){
      var table = new Tabulator("#example-table", {
       	height:"100%", // set height of table (in CSS or here), this enables the Virtual DOM and improves render speed dramatically (can be any valid css height value)
       	data:tabledata, //assign data to table
       	layout:"fitData", //fit columns to width of table (optional)
       	columns:[ //Define Table Columns
      	 	{title:"Name", field:"friend_name"},
          {title:"Words Sent", field:"words_sent"},
          {title:"Messages Sent", field:"number_sent"},
          {title:"Words Received", field:"words_received"},
          {title:"Messages Received", field:"number_received"},
          {title:"Friend Coefficient", field:"friend_coef"},
        ]
      });
    }
  </script>
{% endblock %}

{% block body %}
<div id="example-table"></div>
{% endblock %}
